
a{
    color: rgb(8, 74, 77);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px 20px 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;
}

body{
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
    color: #40514E;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
    line-height: 1.2;
    margin-top: 50px auto 0 auto;
    color: #66BFBF;
    padding-bottom: 10px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #66BFBF;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}

p {
    line-height: 2;
}

.author {
    color: #eaf6f6;
    font-size: 0.75em;
    padding: 20px 0 20px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;  
}

.bottom-container{
    background-color: #66BFBF;
    padding: 40px 0 20px;
}

.btn {
	background-color:#66BFBF;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
    text-indent:0;
	border:1px solid #11999e;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
    height:50px;
	line-height:50px;
    width:140px;
	text-decoration:none;
	text-align:center;
    text-shadow:1px 1px 0px #2f6627;
    margin: 50px auto auto auto;
}.btn:hover {
	background-color:#11999e;
}.btn:active {
	position:relative;
	top:1px;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

.intro {
    width: 30%;
    margin: auto;
}

.middle-container{
    margin: 100px auto 100px auto;
}

.skill-img {
    margin-right: 30px;
    float: left;
    width: 20%;  
}

.skill-img2 {
    margin-left: 30px;
    float: right;
    width: 20%;  
}

.skill-row{  
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;    
}

.top-container{
    background-color: #eaf6f6;  
    position: relative;
    padding-top: 100px;
}

.sw-eng{
    text-decoration: underline;
}
