<%- include('partials/header'); -%>

<h1>Compose</h1>

<form action="/compose" class="form-input" method="post">
    <input type="text" name="newItem" />
    <button type="submit" name="button" value="unknown">Publish</button>
  </form>

<%- include('partials/footer'); -%>